.contentCustomer {
  overflow: hidden;
}

.customer .content {
  width: 100%;
}

.slide {
  width: 1000px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 17px 45px 0 #ececec;
  border-radius: 10px;
}

.slick-list {
  overflow: hidden;
}

.wrapperCustomer {
  width: 4000px;
  display: flex;
  transition: 0.1s;
  transform: translateX(-1000px);
}

.slick-dots {
  position: absolute;
  bottom: 0;
  display: flex;
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots li {
  margin: 0px 7px;
}

.slick-dots button {
  border: none;
  border-radius: 50%;
  background: #ccc;
  color: #ccc;
  width: 15px;
  height: 15px;
  cursor: pointer;
  outline: none;
  font-size: 0px;
  transition: 0.25s;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
  z-index: 20;
  width: 55px;
  height: 55px;
  background-color: #335eea;
  border-radius: 50%;
  display: block;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}

.slick-arrow i {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;

}

.slick-next {
  right: -28px;
}

.slick-prev {
  left: -28px;
}

.slick-active button {
  background: #335eea;
}

.text p {
  text-align: center;
  font-size: 1.25rem;
  padding: 30px;
  line-height: 30px;
  font-weight: 400;
}

.text {
  padding-top: 30px;
}

.text .author {
  font-size: .75rem;
  margin-bottom: .5rem;
  font-weight: 400;
  color: #869ab8;
}

@media (max-width: 1200px) {
  .contentCustomer {
    max-width: 920px !important;
  }

  .slide {
    max-width: 920px !important;
  }

  .wrapperCustomer {
    transform: translateX(-920px);
  }
}

@media (max-width: 992px) {
  .contentCustomer {
    max-width: 680px !important;
  }

  .slide {
    width: 680px !important;

  }

  .wrapperCustomer {
    transform: translateX(-680px);
  }

  .text {
    padding-top: 10px;
    max-width: 600px;
  }

}

@media (max-width: 768px) {
  .contentCustomer .wrap {
    flex-direction: column;
  }

  .contentCustomer .wrap .image {
    flex-basis: 100%;
  }

  .contentCustomer .text {
    flex-basis: 100%;

  }

  .contentCustomer {
    max-width: 500px !important;
  }

  .slide {
    max-width: 500px !important;
  }

  .wrapperCustomer {
    transform: translateX(-500px);
  }

  .slick-next {
    right: -2rem;
    top: 80%;
  }

  .slick-prev {
    left: -2rem;
    top: 80%;
  }
}

@media (max-width: 576px) {
  .slide {
    width: 100% !important;
  }

  .contentCustomer {
    width: calc(100vw - 40px) !important;

  }

  .wrapperCustomer {
    transform: translateX(calc(-100vw + 40px));

  }
}